
.input-container{
    position: relative;
    display: flex;
    align-items: center;

    .icon{
        position: absolute;
        left: 10px;
    }

    input{
        padding-left: 30px;
    }
}

