<div class="flex flex-col">
  <label class="uppercase font-semibold" for="reporter">REPORTER</label>
  <app-button
    [class]="'btn-secondary'"
    class="w-32"
    nz-dropdown
    nzTrigger="click"
    [nzDropdownMenu]="menu"
  >
    <div class="flex items-center">
      <app-avatar [linkAvatar]="currentUser?.avatarUrl" [size]="30"></app-avatar>
      <span class="ml-1">{{ currentUser?.name }}</span>
    </div>
  </app-button>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="handleUpdateIssue(user.id)" *ngFor="let user of users">
        <div class="flex items-center">
          <app-avatar [linkAvatar]="user.avatarUrl" [size]="30"></app-avatar>
          <span class="ml-1">{{ user.name }}</span>
        </div>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
