
$background: #f4f5f7;
$blue-border: #4c9aff;

form {
    .form-input{
        height: 100%;
        width: 100%;
        padding: 0.325rem 0.75rem;
        border-radius: 3px;
        border: 1px solid #ddd;
        color: #172b4d;
        transition: background 0.1s;
        font-size: 15px;

        &:hover{
            background: #ebecf0;
        }

        &:focus{
            background: #fff;
            border: 1px solid $blue-border;
            outline: none;
        }

        &.error{
            border: 1px solid #dc3545;
        }
    }

    
}

.textarea-inline-control {
    border-color: transparent;
    padding: 7px 7px 8px;
    line-height: 1.28;
    resize: none !important;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background 0.1s ease 0s;
    overflow: auto;
    overflow-y: hidden;
    border-radius: 3px;
    appearance: none;
    width: 100% !important;
    height: auto !important;
  
    @apply text-textDarkest;
  
    &:hover:not(:focus) {
      @apply bg-backgroundLight;
    }
  
    &:focus {
      @apply bg-white;
      border: 1px solid $blue-border;
      box-shadow: 0 0 0 1px $blue-border;
      outline: none;
    }
  }
