
$background: #f4f5f7;
$blue-border: #4c9aff;

form {
    .form-input{
        height: 100%;
        width: 100%;
        padding: 0.325rem 0.75rem;
        border-radius: 3px;
        border: 1px solid #ddd;
        color: #172b4d;
        transition: background 0.1s;
        font-size: 15px;

        &:hover{
            background: #ebecf0;
        }

        &:focus{
            background: #fff;
            border: 1px solid $blue-border;
            outline: none;
        }
    }


}