<article class="container flex p-12">
  <section class="w-full flex-initial m-2">
    <app-issue-type class="mb-1" [issue]="issueDetail"></app-issue-type>
    <app-issue-title class="m-2" [issue]="issueDetail"></app-issue-title>
    <app-issue-description [issue]="issueDetail"></app-issue-description>
  </section>
  <section class="w-5/12 flex-initial m-2">
    <app-issue-status class="my-1 mb-1" [issue]="issueDetail"></app-issue-status>
    <app-issue-reporter
      class="m-1"
      [issue]="issueDetail"
      [users]="projectQuery.user$ | async"
    ></app-issue-reporter>
    <app-issue-priority class="m-1" [issue]="issueDetail"></app-issue-priority>
    <nz-divider></nz-divider>
    <div class="flex flex-col">
      <span>Updated: {{ issueDetail.updatedAt | date: 'medium' }}</span>
      <span>Created: {{ issueDetail.createdAt | date: 'medium' }}</span>
    </div>
  </section>
</article>
